<!--Header Section-->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="titlecolor titlecolor-center" >
          <img src="./assets/images/dashboard.png" alt="image" width="150" height="30">
        </div>
    </form>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow d-sm-none"> <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-search fa-fw"></i> </a>
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group"> <input type="text" class="form-control bg-light border-0 small" placeholder="Search for...">
                        <div class="input-group-append"> <button class="btn btn-primary" type="button"> <i class="fa fa-search fa-sm"></i> </button> </div>
                    </div>
                </form>
            </div>
        </li>
         <div class="topbar-divider d-none d-sm-block"></div>
        <li class="nav-item dropdown no-arrow mx-1"> <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-bell fa-fw"></i> <span class="badge badge-danger badge-counter">3+</span> </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in">
                <h6 class="dropdown-header"><small> Alerts Center</small> </h6> <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle"> <i class="fa fa-file"></i> </div>
                    </div>
                    <div>
                        <div class="small text-gray-500"><small>March 12, 2020</small></div> <span class="font-weight-bold"><small>related snippets sent</small></span>
                    </div>
                </a> <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle"> <i class="fa fa-user"></i> </div>
                    </div>
                    <div>
                        <div class="small text-gray-500"><small>Feb 7, 2020</small></div><small>you updated your profile!</small> 
                    </div>
                </a> <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle"> <i class="fa fa-download"></i> </div>
                    </div>
                    <div>
                        <div class="small text-gray-500"><small>Jan 2, 2020</small></div> <small>You just downloaded 3 snippets</small>
                    </div>
                </a> <a class="dropdown-item text-center small text-gray-500" href="#"><small>Show All</small></a>
            </div>
        </li>
        <div class="topbar-divider d-none d-sm-block"></div>
        <li class="nav-item dropdown no-arrow"> <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  <img class="img-profile rounded-circle" src="./assets/images/user.png"><span class="small text-dark"><small> &nbsp;<b>Subhash Manual</b></small></span> </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown"> 
                <a class="dropdown-item" href="#"> 
                <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i> <small>Profile </small></a> 
                <a class="dropdown-item" href="#">
                <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> <small>Settings </small></a> 
                <a class="dropdown-item" href="#"> 
                <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i><small> Activity Log </small></a>
                <div class="dropdown-divider"></div> <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
               <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i><small> Logout </small></a>
            </div>
        </li>
    </ul>
    
  </nav>
  <!--Header Section-->