<!DOCTYPE html> 
<html> 
  
<head> 
    <title>Align nav bar item into center</title> 
    <link rel="stylesheet" href= 
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
          integrity= 
"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" /> 
  
    <link rel="stylesheet" type="text/css" href= 
"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> 
    <link rel="stylesheet" href= 
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" /> 
  
</head> 
  
<body> 
<!--Header Section-->
<app-nav-header></app-nav-header>

<!--Side bar Menu-->
<app-nav-sidebar-menu></app-nav-sidebar-menu>
<router-outlet></router-outlet>
<!-- Footer Section--> 
<app-nav-footer></app-nav-footer>


</body> 

</html> 