<!--Side Bar-->

  <div class="sidebar1" id="mySidenav" (click)="closeNav()" *ngIf="!toggle">
    
    <a [routerLink]="['./dashboard']" href="#"><i class="fa fa-fw " > <img src="./assets/images/homeactive1.png" alt="image" width="120%" height="50"><small>Dashboard</small></i></a>
    <div style="height:20px"></div>
    <a href="#"><i class="fa fa-fw  "> <img src="./assets/images/wallet-inactive.png" alt="image" width="120%" height="35"><small>E Wallets</small></i> </a>
    <div style="height:20px"></div>
    <a href="#"><i class="fa fa-fw  "> <img src="./assets/images/group1.png" alt="image" width="120%" height="35"><small>Affiliates</small></i> </a>
    <div style="height:20px"></div>
    <a href="#"><i class="fa fa-fw  "> <img src="./assets/images/calender1.png" alt="image" width="120%" height="35"><small>Events</small></i> </a>
    <div style="height:20px"></div>
    <a href="#"><i class="fa fa-fw  "> <img src="./assets/images/payment1.png" alt="image" width="120%" height="35"><small>Payments</small></i> </a>
    <div style="height:20px"></div>
    <a href="#"><i class="fa fa-fw  "> <img src="./assets/images/business1.png" alt="image" width="120%" height="35"><small>Manage my Business</small></i> </a>
    <div style="height:20px"></div>
    <a href="#"><i class="fa fa-fw  "> <img src="./assets/images/settings1.png" alt="image" width="120%" height="35"><small>Settings</small></i> </a>


    
    
  </div>

  <div class="sidebar" id="mySidenav" (click)="openNav()" *ngIf="toggle">
    
    <a [routerLink]="['./dashboard']" href="#"><i class="fa fa-fw " > <img src="./assets/images/homeactive1.png" alt="image" width="120%" height="50"></i></a>
    <div style="height:20px"></div>
    <a href="#"><i class="fa fa-fw  "> <img src="./assets/images/wallet-inactive.png" alt="image" width="120%" height="35"></i> </a>
    <div style="height:20px"></div>
    <a href="#"><i class="fa fa-fw  "> <img src="./assets/images/group1.png" alt="image" width="120%" height="35"></i> </a>
    <div style="height:20px"></div>
    <a href="#"><i class="fa fa-fw  "> <img src="./assets/images/calender1.png" alt="image" width="120%" height="35"></i> </a>
    <div style="height:20px"></div>
    <a href="#"><i class="fa fa-fw  "> <img src="./assets/images/payment1.png" alt="image" width="120%" height="35"></i> </a>
    <div style="height:20px"></div>
    <a href="#"><i class="fa fa-fw  "> <img src="./assets/images/business1.png" alt="image" width="120%" height="35"></i> </a>
    <div style="height:20px"></div>
    <a href="#"><i class="fa fa-fw  "> <img src="./assets/images/settings1.png" alt="image" width="120%" height="35"></i> </a>


    
    
  </div>