<div class="content-body">
    <h6><p class="clr"><small><label class="radio-inline"><input type="radio" checked="checked"><b>&nbsp;&nbsp;Portfolio</b></label></small></p></h6> 
    <img src="./assets/images/refer1.png" alt="image" width="250px"  height="50" style=" margin-top:-80px;margin-left:1000px;padding-left:2px;margin-top: -60px;">
<div >
    <div class="row" style="height:350px;">
        <div class="col-md-8 col-lg-4" style="padding:80px;margin-top: 2px;margin-left:125px;height:400px;background-color: white;color:black;border:black">
            <div style="margin-top:-40px;margin-left:-20px;">
                <img src="./assets/images/dummygraph.png" alt="image" width="400px"  height="350px"  padding-left="20px;" margin-left="-500px" >
            </div>
        </div>
        <div class="col-md-8 col-lg-4" style="padding:65px;margin-top: 2px;margin-left:125px;height:400px;background-color: white;color:black;border:black">
            <img src="./assets/images/card.png" alt="image" width="80%"  height="110" style=" margin-top:-80px;margin-left:2px;padding-left:2px;margin-top: -60px;">
            <table>
            <td>
                <tr style="width: 100%;color:grey"><small>Membership : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:blue"><b>Prime Plus</b></span></small></tr>
                <br/>
                <tr style="width: 100%;"><small>Trading Account:<b>266.7 CCRB</b></small></tr>
                <br/>
                <tr style="width: 100%;"><small> Balance:<b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;266.7 CCRB</b></small></tr>
                <br/>
                <tr style="width: 100%;"><small>Mining Pending:<b>266.7 CCRB</b></small></tr>
                <br/>
                <tr style="width: 100%;"><small>Total:<b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;266.7 CCRB</b></small></tr>
                <img src="./assets/images/upgrade1.png" alt="image" width="40%"  height="50" padding="150">
            </td>
            </table>
        </div>
    </div>
        
    </div>
    <div class="row" style="height:1200px;width:1000px;margin-top:-2px;">
        <div class="col-md-3 col-lg-3" style="padding:20px;height:15%;background-color: white;margin-top:60px;margin-left:125px;color:black"> 
            <div class="chart3">
                <img src="./assets/images/cryptocoin.png" alt="image" width="10%"  height="5%" style=" margin-left:40px;">
        
                <div style="color:lightgray;height:400px;margin-left:45px;">
                    <small><b>Cryptocarbon&nbsp;(CCRB)</b></small>
                </div>
                <div style="background-color:white;color:black;margin-left:40px;margin-top: -370px;"><b>2667.CCRB</b>
                 </div>
            </div>
        
        </div>
        <div class="col-md-3 col-lg-3" style="width:40px;padding:20px;height:15%;background-color: white;margin-top:60px;margin-left:125px;color:black"> 
            <div class="chart3">
                <img src="./assets/images/bitcoin.png" alt="image" width="10%"  height="5%" style=" margin-left:40px;">
        
                <div style="color:lightgray;height:400px;margin-left:45px;">
                    <small><b>Cryptocarbon&nbsp;(CCRB)</b></small>
                </div>
                <div style="background-color:white;color:black;margin-left:40px;margin-top: -370px;"><b>2667.CCRB</b>
                 </div>
            </div>
            
        
        </div>
        <div style="margin-top:100px;margin-left:150px;">
        <img src="./assets/images/arrow1.png" alt="image" width="50px"  height="50px"  padding-left="20px;" margin-left="2000px" >
    </div>
    </div>

</div>